			    	<h2>{{account.account_name}}</h2><br/>
			    	<div class="row">
						<div class="col-md-6">
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon1">Токен API</span>
								<input type="text" class="form-control" placeholder="{{account.token}}" aria-describedby="basic-addon1">
							</div><br/>
								
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon1">ID счетчика</span>
								<input type="text" class="form-control" placeholder="{{account.counter_id}}" aria-describedby="basic-addon1">
							</div><br/>
								
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon1">ID цели</span>
								<input type="text" class="form-control" placeholder="{{account.goal_id}}" aria-describedby="basic-addon1">
							</div><br/>
								  
							<div class="checkbox">
								<label>
								    <input type="checkbox"> Активен
								</label>
							</div><br/>
			
							<button type="submit" class="btn btn-default">Сохранить</button>
							<button type="button" class="btn btn-primary">Удалить</button>
						</div>
						<div class="col-md-6">
							Пошаговое описание
						</div>
					</div>